*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar-toggle{
    display:none;
}
.flex {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    
}

#logo img{
    height:100px;
}

ul  {
    list-style: none;

}
li  {
    list-style: none;

}
ul a{
        color:#000;
        text-decoration: none;
}



.redes{
    padding: 15px;
    font-size: 28px;
}

.seccion{
    padding: 30px;
    font-size: 24px;
}


                            /*slider*/

.slideshow{
    max-width: 1200px;
    margin:0 auto;
    position:relative;
}
.slider img{
    height: 400px;
    object-fit: cover;
}
.slider li{
    overflow: hidden;
    
}
.slider li ul{
    width: 100%;
    
}

.slider li img{
    width: 100%;
    
}

.pagination{
position:absolute;
top:auto;
width: 100%;
display: flex;
justify-content: center;

}
.pagination li{
    font-size: 20px;
    margin:2px 5px;
    color:#858585;
    cursor: pointer;

}

.left, .right{
position:absolute;
top:50%;
display:flex;
align-items: center;
color:#e70606;
font-size: 40px;
cursor:pointer;
z-index:20;
}

.left{
    left:10px;
}

.right{
    right:10px;
}


/* .navbar-toggle{
    display:none;
}

.navbar-toggle{
    display:block;
    position:absolute;
    top: 0px;
    right: 0px;
    margin:5px;
    cursor: pointer;
} */

                            /*footer*/

footer{

    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(144, 167, 190);
    margin-top:100px;
    
    
}

footer img {
    /* height: 150px;
    object-fit: cover; */
    width: 150px;
}



#datosFooter{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    
}

#datosFooter ul li{
    padding-bottom: 10px;
}

#mapa{
    margin:15px;
    
}
#contactoFooter{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    padding: 5px;
    
}
#contactoFooter input {
    border:none;
    width: 229px;
    padding:8px;
    border-radius:5px;
}


.campoContactoConsulta{
    resize: none;
    border-radius:5px;
    padding:8px;
    border:none;
}

.boton{
    padding: 5px;
    width: 100px;
    box-shadow: 5px 15px 9px -9px rgba(0,0,0,0.67);
}


                            /*wizard*/
#wizard{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    padding-top: 65px;
    text-align: center;
}
#wizard h4{
    padding: 5px 0px;
    display: none;
}
#wizard h3{
    padding: 15px 0px;
    text-align: center;
}
.wizardFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#paso2{
    display: none;
}
#paso3{
    display: none;
}
.padding{
    padding: 5px 5px;
}
.margin{
    margin: 5px 0px;
    border-radius:5px;
    border: ridge;
}
textarea{
    resize: none;
}

*:focus{
    outline:none;
}
#avisoDeEnvio{
    text-decoration: underline;
}



@media (max-width: 1000px){
    #menuContenedor{
        flex-direction: column;
    
    }
    .navbar-links{
        display: none;
        width: 100%;
        text-align: center;
    }
    .navbar-toggle{
        display:flex;
        flex-direction: row-reverse;
        position:absolute;
        top: 0px;
        right: 0px;
        margin:5px;
        cursor: pointer;
    }
    .active{
        display: block;
    }
    .navbar-links a{
        display:block;
        
    }
    .navbar-links a:hover{
        transform: scale(1.2);
        
    }
    .footer{
        flex-flow:row wrap;
    } 
}
