*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul li  {
    list-style: none;
    text-decoration: none;

}

                            /*HEADER*/
.header{
width: 100%;
padding: 1em;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
}
.header .header-a img{
    height: 100px;
    

}
.header .header-btn{
    border:none;
    background-color: transparent;
    font-size: 1.5em;
    display: none;
}

.header .nav-ul{
display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
align-items: center;


}
.header .nav-li{
margin: 0 .5em;

}
.header .nav-li a{
    text-decoration: none;
    color:#000;
    letter-spacing: .2em;
    font-size: 1em;
    
    }



                            /*slider*/

.slideshow{
    max-width: 1200px;
    margin:0 auto;
    position:relative;
}
.slider img{
    height: 400px;
    object-fit: cover;
}
.slider li{
    overflow: hidden;
}
.slider li ul{
    width: 100%;
}

.slider li img{
    width: 100%;
}
.left, .right{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#CD6E2E;
    font-size: 40px;
    cursor:pointer;
    z-index:20;
    
    
    }
    .left{
        left: 20px;
        
    }
    .right{
        right: 20px;
        
    }

.pagination{
position:absolute;
top:auto;
width: 100%;
display: flex;
justify-content: center;
}
.pagination li{
    font-size: 20px;
    margin:2px 5px;
    color:#858585;
    cursor: pointer;
    list-style: none;
    
}

                            /*footer*/

footer{

    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(144, 167, 190);
    margin-top:100px;
    
    
}

footer img {
    /* height: 150px;
    object-fit: cover; */
    width: 150px;
}



#datosFooter{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    
}

#datosFooter ul li{
    padding-bottom: 10px;
}


.content-map{
    width: 500px;
    height: 300px;
}
#contactoFooter{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    padding: 5px;
    
}
#contactoFooter input {
    border:none;
    width: 229px;
    padding:8px;
    border-radius:5px;
}


.campoContactoConsulta{
    resize: none;
    border-radius:5px;
    padding:8px;
    border:none;
}

.boton{
    padding: 5px;
    width: 100px;
    box-shadow: 5px 15px 9px -9px rgba(0,0,0,0.67);
}


                            /*wizard*/
#wizard{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    padding-top: 65px;
    text-align: center;
}
#wizard h4{
    padding: 5px 0px;
    display: none;
}
#wizard h3{
    padding: 15px 0px;
    text-align: center;
}
.wizardFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#paso2{
    display: none;
}
#paso1{
    display: none;
}
.padding{
    padding: 5px 5px;
}
.margin{
    margin: 5px 0px;
    border-radius:5px;
    border: ridge;
}
textarea{
    resize: none;
}

*:focus{
    outline:none;
}

@media screen and (max-width: 1000px){
    footer{
        flex-flow: column nowrap;
        
    }
}


@media screen and (max-width: 500px){
    
    .header .header-btn{
        display:block;
        cursor: pointer;
        
    }
    .header .nav{
        width: 100%;
        display:none;
        
    }
    .header .nav.activo{
        display: block;  
        
    }
    .header .nav-ul{
        flex-direction: column;
    
    }
    .header .nav-li{
        margin: 1rem 0;
    
    }

.content-map{
    width: auto;
}

}
