*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

}
#logo img{
    height:100px;
}

ul  {
    list-style: none;

}
ul a{
        color:#000;
        text-decoration: none;
}

#menuContenedor {
    background-color: rgb(144, 167, 190);
    position: fixed;
    width: 100%;
}

#redes ul{
    gap: 20px;
    font-size: 28px;
}

#menu ul{
    gap: 100px;
    font-size: 24px;
}

/* .navbar-toggle{
    display:none;
}

.navbar-toggle{
    display:block;
    position:absolute;
    top: 0px;
    right: 0px;
    margin:5px;
    cursor: pointer;
} */

#contactoFooter{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

footer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 200px;
    justify-content: space-around;
    background-color: rgb(144, 167, 190);
    height: 350px;
}

footer img {
    /* height: 150px;
    object-fit: cover; */
    width: 150px;
}

body{
    height: 100vh;
}

#datosFooter{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

#datosFooter ul li{
    padding-bottom: 10px;
}

.campoContacto{
    padding: 5px;
    width: 400px;
}

.campoContactoConsulta{
    resize: none;
}

.boton{
    padding: 5px;
    width: 100px;
}